.main-wrapper {
    min-height: 100vh;
    /* instead of height */
}
.cards{
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 260px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(240, 8, 8, 0.877);
    margin:0 auto;
    position: relative;
    cursor: pointer;
    margin: 20px ;
    border: 5px solid rgb(212, 196, 106);
    border-radius: 20px;
}
.header-txt{
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 0;
   .main-wrapper {
  min-height: 100vh; /* instead of height */
}


}
.cards p{
   color: white;
   position: absolute;
   bottom: 0;
   width: 100%;
   margin: 0;
   padding-top: 10px;
   padding-bottom: 10px;
   background-color: rgba(0, 0, 0, 0.5);
   text-align: center;
   font-size: 20px;
   border-radius: 7px;

}
.card-wrapper{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
}
.mother{
    background-image: url(../assets/images/mother.webp)
    ;
   
}
.father{
   background-image: url(../assets/images/father.jpg);
}
.girlfriend{
    background-image: url(../assets/images/GP.jpg);
 
}
.boyfriend{
    background-image: url(../assets/images/BF.jpg);
   
}
.friend{
    background-image: url(../assets/images/friend.jpg);
}
footer{
    margin-top: 20px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #FFD700;
    font-size: 14px;
    border-radius: 5px;
}
@media (min-width: 768px) {
    .card-wrapper{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        

    }
        .header-txt {
            font-size: 36px;
            color: #FFD700;
            margin-top: 20px;
            margin-bottom: 10px;
           
        }
}