
@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');


html,body,#root {
  margin: 0;
  padding: 0;
  background-image: url(./assets/images/phonebg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
    font-family: "Playball", cursive;
      font-weight: 400;
      font-style: normal;
      text-align: center;
      color: #FFD700;
      font-size: 24px;
} 
